/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */
:root {
  --animation-shift: 377px;
  --animation-unshift: -377px;
}

/* general page format, this  */
body, html {
  background: black;
  min-width: 760px;
  /* width: 100%; */
  /* min-height: 954px; */
  /* height: 100%; */
  margin: 0 auto;
  overflow: hidden;
	/* -webkit-animation: color-change-5x 10s linear infinite both;
	        animation: color-change-5x 10s linear infinite both; */
  /* disable text highlighting, due to accidental click and drag over hidden labels */
  /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
         -o-user-select: none;
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* text format */
h1 {
  font-family: 'Monoton', cursive;
  font-weight: 900;
  font-size: 84px;
  color: black;
  text-align: center;
  margin: 0 0 -1rem 0; /* minimize margins, esp @ bottom */ 
}
h2 {
  color: white;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom : 0.75rem;
}
p {
  font: normal      /* style */
        small-caps  /* variant */
        100         /* weight */
        24px/normal /* size/height */
        'Alegreya Sans SC', sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

/* special text formats + effects */
.neon { /* used for main page title */
  letter-spacing: 3px;
  text-shadow: -1px   0px  magenta,  /* left */
                0px   3px  yellow,   /* bottom */
                1px   0px  magenta,  /* right */
                0px  -3px  cyan;     /* top */
  padding: var(--animation-shift) 0 0 0; /* create padding so that animation can land @ target */
  /* animista: blur-out-expand, slide-top */
	-webkit-animation: blur-out-expand 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both,
                     slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: blur-out-expand 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate-reverse both,
                     slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}
/* .neon:hover {

} */
.icon {
  margin: 40%; /* center at origin */
}

.icon.arrow {
  color: cyan;
}

.message {
  margin: 0px auto;
  transform: translateY(var(--animation-unshift));
}

.fadeIn {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

.blink {
 	-webkit-animation: blink-1 1.5s 3 both;
	        animation: blink-1 1.5s 3 both;
}

.containerLid {
  width: 735px;
  margin: 90px auto 0 auto;
  display: block;
  border-style: solid;
  border-color: white;
  opacity: 1;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  transform: translateY(var(--animation-unshift));
}

/*
 * gameboard container:
 *  - 6x7 gameboard, 1x7 preview row (in total, 7-row, 7-column grid)
 *  - initially optimized for high resolution screen, w: 800px, h: 960px
 *  - will be including responsive design for lower resolutions < w: 800px
 */
.gameContainer {
  background-color: transparent;
  display: grid;
  grid-template-areas:
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7";
  grid-gap: 5px;
  width: 720px;
  height: 720px;
  margin: -115px auto auto auto;
  padding: 10px 10px 10px 10px;
  font: normal      /* style */
        small-caps  /* variant */
        100         /* weight */
        55px/normal /* size/height */
        'Alegreya Sans SC', sans-serif;
  color: rgba(255,255,255,0.25);
  text-align: center; /* how do I vertically align w/o affecting div structure? */
  border-style: dashed;
  border-image: linear-gradient(to top, white 0%, white 86%, transparent 86%, transparent 100%);
  border-image-slice: 1;
  border-width: 6px;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  transform: translateY(var(--animation-unshift));
}
/* board space, could be either preview or playable */
.space {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-radius: 70px;
  border: 5px solid white;
  color: transparent;
  cursor: pointer;
  margin: auto;
}
/* insert a yellow piece (bounce effect) */
.space.fillYellow {
   background-color: yellow;
 	-webkit-animation: bounce-in-top 1.0s both;
          animation: bounce-in-top 1.0s both;
}
/* insert a magenta piece (bounce effect) */
.space.fillMagenta {
	 background-color: magenta;
 	-webkit-animation: bounce-in-top 1.0s both;
 	        animation: bounce-in-top 1.0s both;
}
/* animate winning magenta pieces (blink effect) */
.space.fillMagenta.winner {
 	-webkit-animation: blink-1 1.5s 3 both;
	        animation: blink-1 1.5s 3 both;
}
/* animate winning yellow pieces (blink effect) */
.space.fillYellow.winner {
 	-webkit-animation: blink-1 1.5s 3 both;
	        animation: blink-1 1.5s 3 both;
}
/* hidden spaces that appear as player is hovering the board */
.space.preview {
  border: 5px dashed cyan;
  font-size: 18px;
  text-align: center; /* how do I vertically align w/o affecting div structure? */ 
  opacity: 0.0;
}

/*
 * as a player hovers over each board column, a game piece appears directly
 * above that same column along the game board... the game peiece's color will
 * depend on who's turn it is
 */

/* while hovering columns as player 2, show pulsating yellow preview above column */
.space.preview.pulsateYellow {
  border: 5px solid yellow;
  opacity: 1.0;
  /* https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-a */
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  /* .pulsate-bck, w: http://animista.net */
  -webkit-animation: pulsate-bck 1.0s ease-in-out infinite both;
          animation: pulsate-bck 1.0s ease-in-out infinite both;
}

/* while hovering columns as player 1, show pulsating magenta preview above column */
.space.preview.pulsateMagenta {
  border: 5px solid magenta;
  opacity: 1.0;
  /* https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-a */
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  /* .pulsate-bck, w: http://animista.net */
  -webkit-animation: pulsate-bck 1.0s ease-in-out infinite both;
          animation: pulsate-bck 1.0s ease-in-out infinite both;
}

/* when round is done, empty board by sliding pieces out thru the bottom */
.space.clear {
	-webkit-animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
          animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.scoreBoardTitle {
  transform: translateY(var(--animation-unshift));
  width: 150px;
  margin: -.1em auto 0em auto;
  background: transparent;
  border-style: solid;
  border-color: white;
  border-width: 0 4px 4px 4px;
  border-radius: 0px;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}
.scoreBoard {
  transform: translateY(var(--animation-unshift));
  display: grid;
  margin: -35px auto 0 auto;
  /* padding: 0 36px 24px 36px; */
  width: 740px;
  height: 75px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  border-style: solid;
  border-color: white;
  border-width: 0 6px 6px 6px;
  border-radius: 0px;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
}
.score {
  font: normal      /* style */
        small-caps  /* variant */
        100         /* weight */
        20px/normal /* size/height */
        'Alegreya Sans SC', sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  margin: 0.2em auto 0 auto;
}
.score.player1 {
  color: magenta;
  font-size: 70px;
  margin: -.4em auto 0 auto;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
.score.player2 {
  color: yellow;
  font-size: 70px;
  margin: -.4em auto 0 auto;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
          animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
.score.ties {
  color: cyan;
  font-size: 36px;
  margin: 0.1em auto 0 auto;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}

.resetRound {
  transform: translateY(var(--animation-unshift));
  width: 150px;
  margin: 0em auto 0em auto;
  background: transparent;
  border-style: solid;
  border-color: white;
  border-width: 0 4px 4px 4px;
  border-radius: 0px;
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;
}

.avoidClicks {
  pointer-events: none;
}
/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
         -o-user-select: none;
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ANIMISTA WEBKIT, w: http://animista.net  */

/* animation pulsate-bck */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* animation bounce-in-top */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/* animation fade-in */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* animation blink */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation slide-out-blurred-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
    transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-bottom {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
    transform: translateY(1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(var(--animation-unshift));
    transform: translateY(var(--animation-unshift));

  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-377px);
    transform: translateY(-377px);
  }
}
/**
 * ----------------------------------------
 * animation blur-out-expand
 * ----------------------------------------
 */
@-webkit-keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    background: rgba(0, 255, 255, 0.250);
  }
  25% {
    background: rgba(0, 0, 0, 0.250);
  }
  50% {
    background: rgba(255, 0, 255, 0.250);
  }
  75% {
    background: rgba(0, 0, 0, 0.250);
  }
  100% {
    background: rgba(255, 255, 0, 0.250);
  }
}
@keyframes color-change-5x {
  0% {
    background: rgba(0, 255, 255, 0.250);
  }
  25% {
    background: rgba(0, 0, 0, 0.250);
  }
  50% {
    background: rgba(255, 0, 255, 0.250);
  }
  75% {
    background: rgba(0, 0, 0, 0.250);
  }
  100% {
    background: rgba(255, 255, 0, 0.250);
  }
}