/** 
 * Available fonts via Google:
 *  font-family: 'Amatic SC', cursive;
 *  font-family: 'Monoton', cursive;
 *  font-family: 'VT323', monospace;
 */

/* font short-hand: style variant weight size/height family */

body, html {
  background: black;
  min-width: 720px;
  /* width: 100%; */
  min-height: 885px;
  /* height: 100%; */
  margin: 0 auto;
  overflow: hidden;
}

/* text format */
h1 {
  font-family: 'Monoton', cursive;
  font-weight: 900;
  font-size: 84px;
  color: black;
  text-align: center;
  margin: 0 0 -1rem 0; /* minimize margins, esp @ bottom */ 
}

h2 {
  color: white;
  font-size: 36px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom : 0.75rem;
}

/* h3 {

} */

/* h4 {

} */

/* h5 {

} */

/* h6 {

} */

p {
  font: normal      /* style */
        small-caps  /* variant */
        100         /* weight */
        24px/normal /* size/height */
        'Alegreya Sans SC', sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

/* special text formats + effects */
.neon {
  letter-spacing: 3px;
  text-shadow: -1px   0px  magenta,  /* left */
                0px   3px  yellow,   /* bottom */
                1px   0px  magenta,  /* right */
                0px  -3px  cyan;     /* top */
}

/* .neon:hover {

} */
.icon {
  margin: 40%; /* center at origin */
}

.icon.arrow {
  color: cyan;
}

.message {
  margin: 0px auto 0px auto;
}

.avoidClicks {
  pointer-events: none;
}

/*
 * 6x7 gameboard, 1x7 preview row (in total, 7-row, 7-column grid)
 * Built for 720px width screen in mind, roughly about 900px height.
 * (will make it responsive for 360px + 1080px + 2160px later)
 */

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

.column3 {
  grid-area: column3;
}

.column4 {
  grid-area: column4;
}

.column5 {
  grid-area: column5;
}

.column6 {
  grid-area: column6;
}

.column7 {
  grid-area: column7;
}

.gameContainer {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: minmax(); */
  grid-template-areas:
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7"
    "column1 column2 column3 column4 column5 column6 column7";
  grid-gap: 5px;
  /* padding: 5px; */
  width: 720px;
  height: 720px;
  margin: auto;
  font: normal      /* style */
        small-caps  /* variant */
        100         /* weight */
        55px/normal /* size/height */
        'Alegreya Sans SC', sans-serif;
  color: rgba(255,255,255,0.25);
  text-align: center; /* how do I vertically align w/o affecting div structure? */
}

.previewRow {
  background-color: transparent;
  /* display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 5px;
  padding: 5px; 
  width: 700px;
  height: 100px; */
}

.board {
  /* background-color: transparent;
  display: grid;  /* grid display allows for custom horiz + vert cells */
  margin: auto;   /* inherits minimal margins from body */
  /* 7 columns to insert game tokens */
  /* grid-template-columns: auto auto auto auto auto auto auto; */
  grid-template-columns: repeat(7, 1fr);
  /* 6 rows to hold game tokens */
  /* grid-template-rows: minmax(100px, auto); */

  border: 5px solid white; /* 5px x 2 sides = 10px total per axis */
  border-radius: 10px; /* slightly rounded corners */
  grid-gap: 5px;  /* 5px x 6 gaps = 60px total */
  padding: 5px;   /* 5px x 2 sides = 10px total per axis */
  width: 700px;   /* width: 100px x 7-columns = 700px */
  height: 600px;  /* height: 100px x 6-rows = 600px */
  opacity: .95;   /* slightly rounded corners */

  font: normal      /* style */
        small-caps  /* variant */
        100         /* weight */
        55px/normal /* size/height */
        'Alegreya Sans SC', sans-serif;
  color: rgba(255,255,255,0.25);
  text-align: center; /* how do I vertically align w/o affecting div structure? */
}

.space {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border-radius: 70px;
  border: 5px solid white;
  cursor: pointer;
  margin: auto;
}

.space.preview {
  border: 5px dashed cyan;
  font-size: 18px;
  text-align: center; /* how do I vertically align w/o affecting div structure? */ 
  opacity: 0;
}

/**
  * hover pseudo class:
  * as a player hovers over each board column, a disc token gradually
  * appears directly above that same column along the game board... the disc
  * token's color will depend on who's turn it is
  */
/* .space.preview:hover {
  border: 5px solid cyan;
  opacity: 1.0;
  /* https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-a */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition:    all 0.2s ease-in-out;
  -ms-transition:     all 0.2s ease-in-out;
  -o-transition:      all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
  /* .pulsate-bck, w: http://animista.net */
  -webkit-animation: pulsate-bck 1.0s ease-in-out infinite both;
  animation: pulsate-bck 1.0s ease-in-out infinite both;
} */

.hoverPreview {
  border: 5px solid cyan;
  opacity: 1.0;
  /* https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-a */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* .pulsate-bck, w: http://animista.net */
  -webkit-animation: pulsate-bck 1.0s ease-in-out infinite both;
  animation: pulsate-bck 1.0s ease-in-out infinite both;
}

/* animation pulsate-bck, w: http://animista.net */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
